PQCsignKAT_Dilithium2.req
PQCsignKAT_Dilithium2.rsp
PQCsignKAT_Dilithium3.req
PQCsignKAT_Dilithium3.rsp
PQCsignKAT_Dilithium5.req
PQCsignKAT_Dilithium5.rsp
tvecs2
tvecs3
tvecs5
KAT/*.rsp
KAT/*.req
build/
*.log

# API_PKC artifacts
API_PKC/build/
API_PKC/Test_Vector/*.rsp
API_PKC/Test_Vector/*.req
*.o
*.a
*.so
API_PKC/Test_Vector/*.txt
